/* Herding Cats Travel App*/

*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Satoshi-Variable';
  src: url(@/assets/fonts/Satoshi-Variable.woff) format(woff);
  src: url(@/assets/fonts/Satoshi-Variable.woff2) format(woff2);
  src: url(@/assets/fonts/Satoshi-Variable.ttf) format(truetype);
}

:root {
  --dark-button-blue: #051533;
  --green-travel: #556c6c;
  --green-packing-list: #4d836d;
  --gray-accomodation: #dfd9c4;
  --pink-activities: #f1c8bc;
  --pink-background: #caa9a0;
  --turqoise-notes: #599097;
  --turqoise-gray-background: #88a3a7;
  --yellow-calendar: #f4e2a6;
  --required-red: rgb(165, 0, 0);
}


/* Main container */

html {
  font-size: 10px;
}

body {
  background-image: url('background-pattern.svg');
}

main {
  width: 32rem;
  margin: 0 auto;
}

.container {
  width: 32rem;
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  background-color: var(--green-packing-list);
  border-radius: 1rem;
  padding: 2rem;
  margin: 0.7rem auto;
}


/* Text styles */

h1 {
  font-family: 'Satoshi-Variable', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 6.5rem;
  text-align: center;
  color: #000000;
}

/* View titles are all h2 */
h2 {
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.3rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
}

h3 {
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;
  color: #000000;
}

h4 {
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  color: #000000;
}

p {
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  color: #000000;
}

.placeholder-text {
  text-align: center;
}

/* Rendered lists */

.list-p,
.render-list-p {
  inline-size: 24rem;
  overflow-wrap: break-word; 
  hyphens: manual;
}

.list-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 28rem;
  position: relative;
}

.transport-entry,
.lodging-entry,
.activity-entry {
  margin: 0 auto;
  text-align: center;
  max-width: 28rem;
}

.transport-entry + .transport-entry,
.lodging-entry + .lodging-entry,
.activity-entry + .activity-entry {
  border-top: 0.25rem solid black;
  margin-top: 2rem;
  padding-top: 2rem;
}

.entry-p {
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: black;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.required::after {
  content: '*';
  color: var(--required-red);
  margin-left: 0.5rem;
}


/* Buttons */

button {
  margin: 0.7rem auto;
  background-color: var(--dark-button-blue);
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  width: 28rem;
  height: 4rem;
  border-radius: 1rem;
  border: 0;
}

button:hover,
button:focus {
  box-shadow: white 0px 0px 1rem;
}

button:active {
  outline: 0.2rem solid var(--pink-activities);
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.rect-delete-btn {
  background-color: var(--required-red);
  margin-bottom: 2rem;
}

.delete-btn {
  margin: 0;
  padding: 0;
  min-height: 2rem;
  min-width: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  font-size: 1rem;
  border-radius: 50%;
}

.sv-btn-green {
  margin-top: 2rem;
  background-color: var(--green-travel);
}

.timeline-btn {
  color: black;
  background-color: var(--yellow-calendar);
}


/* Input forms */

.input-area {
  margin-top: auto;
  padding-top: 2rem;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
  margin: 0.7rem auto;
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  width: 28rem;
  height: 4rem;
  border: 0.1rem solid white;
  border-radius: 1rem;
}


textarea {
  width: 28rem;
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000000;
  border: 0.1rem solid var(--dark-button-blue);
  border-radius: 1rem;
}

input[type='text']::placeholder,
textarea::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='number'] {
  color: var(--turqoise-gray-background);
}

input[type='text']:focus,
input[type='text']:active,
input[type='text']:hover,
textarea:focus,
textarea:active,
textarea:hover,
input[type='email']:focus,
input[type='email']:active,
input[type='email']:hover,
input[type='password']:focus,
input[type='password']:active,
input[type='password']:hover,
input[type='number']:focus,
input[type='number']:active,
input[type='number']:hover {
  box-shadow: white 0px 0px 1rem;
  outline: 0.1rem solid var(--dark-button-blue);
}

input[type='datetime-local'] {
  margin: 0.7rem auto;
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
  width: 28rem;
  height: 3rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
}

input[type="checkbox"] {
  margin-left: 1rem;
  border-radius: 0;
  height: 2rem;
  width: 2rem;
}

.admin-checkbox {
  display: flex;
  padding-top: 1rem;
}



/* Labels */

label {
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #000000;
}

.date-label {
  margin-top: 1rem;
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: #000000;
  line-height: 2.5rem;
}

.member-dates {
  margin-top: 0;
  padding: 0;
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: white;
}

/* Info boxes and toggles */

.info-box {
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 0;
}

.info-icon {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 1rem;
}

.pw-flex {
  display: flex;
  align-items: center;
}

.infoIcondiv {
  position: relative;
}

.info-list {
  position: absolute;
  transform: translateX(-45%);
  background-color: #fff;
  color: black;
  border-radius: 1rem;
  padding-top: 0; 
  padding-left: 2rem;
  padding-bottom: 2rem;
  width: 26rem;
  z-index: 10;
  margin-top: 1rem;
}

.info-p {
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: black;
  margin-top: 1rem;
}

.delete-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Pop-up Add or Edit Transport, Activitiy or Lodging */

.popup-add-edit {
  background-color: var(--gray-accomodation);
  border: 0;
  border-radius: 1rem;
}

/* Overlay mask to darken background when modals and info screens are visible */

.overlay-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

dialog {
  z-index: 500;
}